html, body, div,p,ul,li,img{
	margin: 0;
	padding: 0;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body{
	background: white;

}
.container-fluid{	
	width: auto;
	margin: auto ;
}

.gallery{	
	width: 800px;
	margin: auto 0;

}



.gallery ul{
	list-style: none;
}
.gallery li{
	float: left;
	margin: 10px;
}

.gallery img{
	display: block;
	padding: 5px;
}

.gallery img:hover{
	border: 1px solid #000;
}

